In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("FindS.csv")

In [5]:
data

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
2  Rainy    Cold     High  Strong  Warm   Change         No
3  Sunny    Warm     High  Strong  Cool   Change       Yes

In [7]:
concepts = np.array(data)[:,:-1]

In [8]:
concepts

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [9]:
target = np.array(data)[:,-1]

In [10]:
target

array(['Yes', 'Yes', 'No', 'Yes '], dtype=object)

In [15]:
def train(con,tar):
    for i, val in enumerate(tar):
        if val == "Yes":
            specific_h = con[i].copy()
            break
             
    for i, val in enumerate(con):
        if tar[i] == "Yes":
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
                 
    return specific_h

In [16]:
print(train(concepts,target))

['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']